@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-usermessage {
    background: #00407B;
}

.typewriter {
    font-size: clamp(2rem, 2.8vw, 5rem);
	width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 3s steps(20) alternate infinite;
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}


